<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Account.Properties.Settings.AccountConnectionString"
            connectionString="Data Source=TEJAS-PC\SQLEXPRESS;Initial Catalog=Account;User ID=sa;Password=tejas0026"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>